.field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    max-width: 500px;
    width: 100%;
}

.field__error {
    color: red;
}

.field__label {
    font-size: 14px;
}

.field__input {
    height: 36px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding-inline: 10px;
}